body {
    color: #353535;
    background-color:#373737;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: bold;
}
.section {
    padding: 20px 0;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    color: #FFFFFF;
    background-color:#373737;
}
.hero {
    height: 165px;
    width: auto;
}
.hero h1 {
    color: #fff;
}

/* Chart
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper {
    color: #E5E5E5;
    background-color:#373737;
}
#killer-chart {
    border: solid #000 1px;
}
#killer-chart .killer {
    border: solid 1px red;
    height: 100px;
    width: 100px;
}
#killer-chart .label {
    z-index: 1;
    margin-left: 1rem;
}
#killer-chart .label .value,
#killer-chart .label .name {
    display: inline-block;
}

#killer-chart .label .value.active {
    color: #E65B47;
}
#killer-chart .label .name.active {
    color: #FBBD9F;
}
#killer-chart .bar {
    fill: #000;
}
#killer-chart .name {
    fill: #FBBD9F;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
}
#killer-chart .value {
    text-anchor: end;
    fill: #E65B47;
    font-family: 'Ropa Sans', sans-serif;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    #killer-chart .bar {
        fill: #fff;
        height: 10px;
    }
    #killer-chart .name {
        text-anchor: end;
    }
    #killer-chart .value {
        text-anchor: start;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Downloads
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.download-wrapper {
    background-color: #000;
}
.download-wrapper a {
    color: #E65B47;
}
.download-wrapper ul {
    list-style: none;
    display: flex;
}
.download-wrapper ul li {
    flex: 1;
}

/* Authors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.authors-wrapper {
    background: #d7d7d7;
    color: #656565;
}
.author .auth-img,
.author .authtext {
    display: inline-block;
    vertical-align: top;
}
.author .auth-img {
    width: 25%;
    margin-right: 20px;
}
.author .authtext {
    width: 60%;
    margin-top: -5px;
}
.author .authtext p.studio{
    margin-bottom: 1.5rem;
}

/* Sources
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sources-wrapper {
    background: #FFF;
    color: #656565;
}
ol li {
    line-height: 2.2rem;
    color: #E65B47;
}