body {
    color: #353535;
    background-color:#373737;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: bold;
}
.section {
    padding: 20px 0;
    display: block;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    color: #FFFFFF;
    background-color:#373737;
}
.hero h1 {
    color: #fff;
}
.hero img {
    width: 100%;
}

@media (min-width: 550px) {
    .header {
        margin-left: 50px;
    }
    .hero img {
        height: 150px;
        width: auto;
    }
}

/* Chart
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper {
    color: #E5E5E5;
    background-color:#373737;
}
.chart-wrapper .chart-description {
    max-width: 500px;
    margin-left: 32px;
    margin-right: 20px;
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .chart-wrapper .chart-description {
        margin: 0 50px 20px 50px;
    }
}
#killer-chart {
    width:100%;
}
#killer-chart .killer {
    border: solid 1px red;
    height: 100px;
    width: 100px;
}
#killer-chart .label {
    z-index: 1;
    margin-left: 1rem;
}
#killer-chart .label .value,
#killer-chart .label .name {
    display: inline-block;
}
#killer-chart .bar {
    fill: #fff;
    height: 10px;
}
#killer-chart .name {
    fill: #FBBD9F;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    text-anchor: end;
}
#killer-chart .value {
    fill: #E65B47;
    font-family: 'Ropa Sans', sans-serif;
}

#killer-chart .mobile .bar {
    fill: #000;
    height: 40px;
}
#killer-chart .value {
    fill: #E65B47;
    text-anchor: end;
}
#killer-chart .mobile .name {
    fill: #FBBD9F;
    text-anchor: start;
}
.description {
    padding: 10px;
}
.description h4,
.description .citations h4 {
    text-transform: uppercase;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.description h4 {
    font-size: 2rem;    
    color: #fbbd9f;    
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}
.description h4 span {
    color: #e3716d;
    font-size: 1.5rem;
}
.description p {
    margin-bottom: 1rem;
}
.description p .highlight{
    margin-bottom: 1rem;
    color: #e3716d;
}
.description ol {
    margin-left: 3rem;
    color: #e3716d;
}
.description ol li {
    margin: 0 0 0 0;
}
.description .citations {
    padding-top: 10px;
    border-top: solid 1px #979797;
}
.description .citations h4 {
    font-size: 1.5rem;
    color: #e3716d;
    margin-bottom: 0;
}
.description .citations p,
.description .citations p a {
    color: #e3716d;
}

/* Downloads
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.download-wrapper {
    background-color: #000;
}
.download-wrapper a {
    color: #E65B47;
}
.download-wrapper ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}
.download-wrapper ul li {
    flex: 1;
    text-align: center;
}
.dl-img {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.dl-img svg{
    height: 30px;
    width: 30px;
    align-self: center;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .dl-img {
        margin-bottom: 10px;
    }
    .dl-img svg{
        height: 50px;
        width: 50px;
    }
}

/* Authors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.authors-wrapper {
    background: #d7d7d7;
    color: #656565;
}
.author .auth-img,
.author .authtext {
    display: inline-block;
    vertical-align: top;
}
.author .auth-img {
    width: 25%;
    margin-right: 20px;
}
.author .authtext {
    width: 60%;
    margin-top: -5px;
}
.author .authtext p.studio{
    margin-bottom: 1.5rem;
}
.authors,
.contributors {
    margin: 30px 0 50px 0;
}

/* Sources
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sources-wrapper {
    background: #FFF;
    color: #656565;
}
.footnotes ol {
    margin: 0;
    padding: 0;
    counter-reset: item;
    list-style-position: outside;
}
.footnotes ol li {
    line-height: 2.2rem;
    position: relative;
    left: 0;
    display: block;
    list-style-position: outside;
    color: #353535;
}
.footnotes li:before {
    content: counters(item, ".");
    counter-increment: item;
    position: absolute;
    left: -1.5em;
    text-align: right;
    width: 1em;
    color: #989898;
    font-size: 12px;
}

.footnotes ol li a {
    color: #E65B47;
    word-wrap: break-word;
}